openapi: 3.0.0
info:
  title: SoccerVerse API
  version: 1.0.0
servers:
  - url: https://api-beta.soccerverse.com
paths:
  /clubs/detailed:
    get:
      operationId: getClubDetails
      summary: Get detailed data for clubs in Soccerverse.
      parameters:
        - name: page
          in: query
          required: false
          description: "Page number, starting from 1"
          schema:
            type: integer
            format: int32
            minimum: 1
            example: 1
        - name: per_page
          in: query
          required: false
          description: "Number of records per page (options: 5, 20, 50)"
          schema:
            type: integer
            format: int32
            enum: [5, 20, 50]
            example: 20
        - name: sort_by
          in: query
          required: false
          description: "Field to sort by"
          schema:
            type: string
            enum:
              - club_id
              - last_price
              - volume_1_day
              - volume_7_day
              - last_7days
              - last_7days_price
              - balance
              - form
              - division_start
              - fans_start
              - fans_current
              - stadium_size_start
              - stadium_size_current
              - stadium_id
              - value
              - rating
              - manager_name
              - chairman_name
              - default_formation
              - penalty_taker
              - country_id
              - committed_tactics
              - proposed_manager
              - manager_locked
              - transfers_in
              - transfers_out
        - name: sort_order
          in: query
          required: false
          description: "Sort order: 'asc' or 'desc'"
          schema:
            type: string
            enum: [asc, desc]
            example: asc
        - name: club_id
          in: query
          required: false
          description: "Filter by specific club ID"
          schema:
            type: integer
        - name: country_id
          in: query
          required: false
          description: "Country ID to filter clubs (e.g., 'ENG' for England)"
          schema:
            type: string
        - name: owned
          in: query
          required: false
          description: "Filter clubs owned by the given username"
          schema:
            type: string
      responses:
        '200':
          description: "Successful response"
components: {}