openapi: 3.0.0
info:
  title: SoccerVerse API
  version: 1.0.0
servers:
  - url: https://api-beta.soccerverse.com
paths:
  /players/detailed:
    get:
      operationId: getPlayerDetails # <--- Added a unique operationId here
      summary: Get detailed data for players in Soccerverse such as ratings, volume data for trading information, wages and much more details.
      parameters:
        - name: page
          in: query
          required: false
          description: "Page number, starting from 1."
          schema:
            type: integer
            format: int32
            minimum: 1
            example: 1
        - name: per_page
          in: query
          required: false
          description: "Number of records per page (options: 5, 20, 50)."
          schema:
            type: integer
            format: int32
            enum: [5, 20, 50]
            example: 20
        - name: sort_by
          in: query
          required: false
          description: "Field to sort by. Available options are: 'player_id', 'fitness', 'retired', 'morale', 'injured', 'injury_id', 'wages', 'contract', 'form', 'position', 'multi_position', 'rating', 'rating_gk', 'rating_tackling', 'rating_passing', 'rating_shooting', 'banned', 'cup_tied', 'yellow_cards', 'red_cards', 'dob', 'side', 'value', 'country_id', 'club_id', 'agent_name', 'desired_contract', 'allow_transfer', 'allow_renew', 'last_price', 'volume_1_day', 'volume_7_day'."
          schema:
            type: string
            enum:
              - player_id
              - fitness
              - retired
              - morale
              - injured
              - injury_id
              - wages
              - contract
              - form
              - position
              - multi_position
              - rating
              - rating_gk
              - rating_tackling
              - rating_passing
              - rating_shooting
              - rating_aggression
              - rating_stamina
              - banned
              - cup_tied
              - yellow_cards
              - red_cards
              - dob
              - side
              - value
              - country_id
              - club_id
              - agent_name
              - desired_contract
              - allow_transfer
              - allow_renew
              - last_price
              - volume_1_day
              - volume_7_day
        - name: sort_order
          in: query
          required: false
          description: "Sort order: 'asc' for ascending or 'desc' for descending."
          schema:
            type: string
            enum: [asc, desc]
            example: asc
        - name: age_min
          in: query
          required: false
          description: "Minimum age for players."
          schema:
            type: integer
            format: int32
            minimum: 0
            example: 18
        - name: age_max
          in: query
          required: false
          description: "Maximum age for players."
          schema:
            type: integer
            format: int32
            minimum: 0
            example: 35
        - name: player_id
          in: query
          required: false
          description: "Filter by specific player ID."
          schema:
            type: integer
            example: 12345
        - name: country_id
          in: query
          required: false
          description: "Country ID to filter players."
          schema:
            type: string
            example: "ENG"
        - name: owned
          in: query
          required: false
          description: "Filter players owned by the given user name."
          schema:
            type: string
            example: "JohnDoe"
      responses:
        '200':
          description: "Successful response."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPlayerDetailedResponse'
components:
  schemas:
    PaginatedPlayerResponse:
      type: object
      properties:
        page:
          type: integer
          description: "Current page number."
        per_page:
          type: integer
          description: "Number of records per page."
        total:
          type: integer
          description: "Total number of records."
        total_pages:
          type: integer
          description: "Total number of pages."
        items:
          type: array
          items:
            $ref: '#/components/schemas/PlayerResponse'
    PlayerResponse:
      type: object
      properties:
        player_id:
          type: integer
          description: "Unique identifier for the player."
        last_price:
          type: integer
          description: "Last traded price of the player's shares."
        volume_1_day:
          type: integer
          description: "Trading volume in the last 1 day."
        volume_7_day:
          type: integer
          description: "Trading volume in the last 7 days."
        last_7days:
          type: array
          items:
            type: integer
          description: "List of trading data for the last 7 days."
        last_7days_price:
          type: array
          items:
            type: integer
          description: "List of prices for the last 7 days."
        wages:
          type: integer
          description: "Player's wages."
        multi_position:
          type: integer
          description: "Player's multiple positions."
        rating:
          type: integer
          description: "Player's rating."
        country_id:
          type: string
          description: "Country ID of the player."
        dob:
          type: integer
          description: "Date of birth of the player as Unix timestamp."
        age:
          type: integer
          description: "Age of the player."
        value:
          type: integer
          description: "Value of the player."
        club_id:
          type: integer
          description: "Club ID the player belongs to."
        agent_name:
          type: string
          description: "Name of the player's agent."
    PaginatedPlayerDetailedResponse:
      type: object
      properties:
        page:
          type: integer
          description: "Current page number."
        per_page:
          type: integer
          description: "Number of records per page."
        total:
          type: integer
          description: "Total number of records."
        total_pages:
          type: integer
          description: "Total number of pages."
        items:
          type: array
          items:
            $ref: '#/components/schemas/PlayerDetailedResponse'
    PlayerDetailedResponse:
      type: object
      properties:
        player_id:
          type: integer
          description: "Unique identifier for the player."
        fitness:
          type: integer
          description: "Player's fitness level."
        retired:
          type: integer
          description: "Retirement status of the player."
        morale:
          type: integer
          description: "Player's morale."
        injured:
          type: integer
          description: "Injury status of the player."
        injury_id:
          type: integer
          description: "Injury ID if the player is injured."
        wages:
          type: integer
          description: "Player's wages."
        contract:
          type: integer
          description: "Contract length."
        form:
          type: string
          description: "Player's form."
        position:
          type: integer
          description: "Primary position of the player."
        multi_position:
          type: integer
          description: "Player's multiple positions."
        rating:
          type: integer
          description: "Overall rating of the player."
        rating_gk:
          type: integer
          description: "Goalkeeping rating."
        rating_tackling:
          type: integer
          description: "Tackling rating."
        rating_passing:
          type: integer
          description: "Passing rating."
        rating_shooting:
          type: integer
          description: "Shooting rating."
        banned:
          type: integer
          description: "Banned status."
        cup_tied:
          type: integer
          description: "Cup tied status."
        yellow_cards:
          type: integer
          description: "Number of yellow cards."
        red_cards:
          type: integer
          description: "Number of red cards."
        dob:
          type: integer
          description: "Date of birth as Unix timestamp."
        age:
          type: integer
          description: "Age of the player."
        side:
          type: string
          description: "Player's preferred side."
        value:
          type: integer
          description: "Market value of the player."
        country_id:
          type: string
          description: "Country ID of the player."
        club_id:
          type: integer
          description: "Club ID the player belongs to."
        agent_name:
          type: string
          description: "Name of the player's agent."
        desired_contract:
          type: integer
          description: "Desired contract length."
        allow_transfer:
          type: integer
          description: "Allow transfer status."
        allow_renew:
          type: integer
          description: "Allow contract renewal status."
        last_price:
          type: integer
          description: "Last traded price of the player's shares."
        volume_1_day:
          type: integer
          description: "Trading volume in the last 1 day."
        volume_7_day:
          type: integer
          description: "Trading volume in the last 7 days."
        last_7days:
          type: array
          items:
            type: integer
          description: "List of trading data for the last 7 days."
        last_7days_price:
          type: array
          items:
            type: integer
          description: "List of prices for the last 7 days."
