openapi: 3.0.0
info:
  title: SoccerVerse API
  version: 1.0.0
servers:
  - url: https://api-beta.soccerverse.com
paths:
  /share_trade_history:
    get:
      operationId: getShareTradeHistoryDetails
      summary: "Get share trade history"
      parameters:
        - name: page
          in: query
          required: false
          description: "Page number, starting from 1"
          schema:
            type: integer
            format: int32
            minimum: 1
            example: 1
        - name: per_page
          in: query
          required: false
          description: "Number of records per page (maximum 100)"
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            example: 20
        - name: name
          in: query
          required: false
          description: "Name of the buyer or seller. Please provide exactly one of 'name', 'club_id', or 'player_id'."
          schema:
            type: string
        - name: club_id
          in: query
          required: false
          description: "Club ID. Please provide exactly one of 'name', 'club_id', or 'player_id'."
          schema:
            type: integer
        - name: player_id
          in: query
          required: false
          description: "Player ID. Please provide exactly one of 'name', 'club_id', or 'player_id'."
          schema:
            type: integer
      responses:
        '200':
          description: "Successful response"
  /share_balances:
    get:
      summary: "Get share balances"
      parameters:
        - name: page
          in: query
          required: false
          description: "Page number, starting from 1"
          schema:
            type: integer
            format: int32
            minimum: 1
            example: 1
        - name: per_page
          in: query
          required: false
          description: "Number of records per page (options: 5, 20, 50)"
          schema:
            type: integer
            format: int32
            enum: [5, 20, 50]
            example: 20
        - name: sort_by
          in: query
          required: false
          description: "Field to sort by (options: 'name', 'share_type', 'share_id', 'num')"
          schema:
            type: string
            enum: ['name', 'share_type', 'share_id', 'num']
        - name: sort_order
          in: query
          required: false
          description: "Sort order: 'asc' or 'desc'"
          schema:
            type: string
            enum: ['asc', 'desc']
            example: 'asc'
        - name: club_id
          in: query
          required: false
          description: "Filter by club ID. Please provide exactly one of 'club_id', 'player_id', or 'name'."
          schema:
            type: integer
        - name: player_id
          in: query
          required: false
          description: "Filter by player ID. Please provide exactly one of 'club_id', 'player_id', or 'name'."
          schema:
            type: integer
        - name: name
          in: query
          required: false
          description: "Filter by name. Please provide exactly one of 'club_id', 'player_id', or 'name'."
          schema:
            type: string
      responses:
        '200':
          description: "Successful response"
  /trading_graph:
    get:
      summary: "Get trading graph data"
      parameters:
        - name: club_id
          in: query
          required: false
          description: "Club ID. Please provide exactly one of 'club_id' or 'player_id'."
          schema:
            type: integer
        - name: player_id
          in: query
          required: false
          description: "Player ID. Please provide exactly one of 'club_id' or 'player_id'."
          schema:
            type: integer
        - name: time_range
          in: query
          required: true
          description: "Time range for the trading data. Valid options are: '1d', '7d', '30d', '90d', '6m', '1y'."
          schema:
            type: string
            enum: ['1d', '7d', '30d', '90d', '6m', '1y']
            example: '7d'
      responses:
        '200':
          description: "Successful response"
components: {}