openapi: 3.0.0
info:
  title: SoccerVerse API
  version: 1.0.0
servers:
  - url: https://api-beta.soccerverse.com
paths:
  /best_managers:
    get:
      operationId: getBestManagers
      summary: Get best managers data
      parameters:
        - name: page
          in: query
          required: false
          description: "Page number, starting from 1"
          schema:
            type: integer
            format: int32
            minimum: 1
            example: 1
        - name: per_page
          in: query
          required: false
          description: "Number of records per page (options: 5, 20, 50)"
          schema:
            type: integer
            format: int32
            enum: [5, 20, 50]
            example: 20
        - name: sort_by
          in: query
          required: false
          description: "Field to sort by"
          schema:
            type: string
        - name: sort_order
          in: query
          required: false
          description: "Sort order: 'asc' or 'desc'"
          schema:
            type: string
            enum: [asc, desc]
            example: "asc"
        - name: name
          in: query
          required: false
          description: "Filter by specific user name (case sensitive)"
          schema:
            type: string
      responses:
        '200':
          description: "Successful response"
  /market:
    get:
      operationId: getWorldStats     
      summary: Get market data and world stats such as how many active users, managers and other information.
      responses:
        '200':
          description: "Successful response"
  /rich_list:
    get:
      operationId: getRichList 
      summary: Get rich list of users
      parameters:
        - name: page
          in: query
          required: false
          description: "Page number, starting from 1"
          schema:
            type: integer
            format: int32
            minimum: 1
            example: 1
        - name: per_page
          in: query
          required: false
          description: "Number of records per page (options: 5, 20, 50)"
          schema:
            type: integer
            format: int32
            enum: [5, 20, 50]
            example: 20
        - name: name
          in: query
          required: false
          description: "Filter by specific user name (case sensitive)"
          schema:
            type: string
      responses:
        '200':
          description: "Successful response"
  /share_balances:
    get:
      operationId: getShareBalances
      summary: Get share balances of users to see which shares they own and also who owns club and player shares aka influence.
      parameters:
        - name: page
          in: query
          required: false
          description: "Page number, starting from 1"
          schema:
            type: integer
            format: int32
            minimum: 1
            example: 1
        - name: per_page
          in: query
          required: false
          description: "Number of records per page (options: 5, 20, 50)"
          schema:
            type: integer
            format: int32
            enum: [5, 20, 50]
            example: 20
        - name: sort_by
          in: query
          required: false
          description: "Field to sort by (options: 'name', 'share_type', 'share_id', 'num')"
          schema:
            type: string
            enum: [name, share_type, share_id, num]
        - name: sort_order
          in: query
          required: false
          description: "Sort order: 'asc' or 'desc'"
          schema:
            type: string
            enum: [asc, desc]
            example: "asc"
        - name: club_id
          in: query
          required: false
          description: "Filter by club ID (must provide exactly one of 'club_id', 'player_id', or 'name')"
          schema:
            type: integer
        - name: player_id
          in: query
          required: false
          description: "Filter by player ID (must provide exactly one of 'club_id', 'player_id', or 'name')"
          schema:
            type: integer
        - name: name
          in: query
          required: false
          description: "Filter by user name (must provide exactly one of 'club_id', 'player_id', or 'name')"
          schema:
            type: string
      responses:
        '200':
          description: "Successful response"
  /user_activity:
    get:
      operationId: getUserActivity
      summary: Get user activity stats to see who is the most active or how active a user is.
      parameters:
        - name: name
          in: query
          required: false
          description: "Filter by username (if provided, returns data for that user; otherwise, returns top 50 users)"
          schema:
            type: string
      responses:
        '200':
          description: "Successful response"
  /users/detailed:
    get:
      operationId: getUsersDetailed
      summary: Get detailed data for users including trading data.
      parameters:
        - name: page
          in: query
          required: false
          description: "Page number, starting from 1"
          schema:
            type: integer
            format: int32
            minimum: 1
            example: 1
        - name: per_page
          in: query
          required: false
          description: "Number of records per page (options: 5, 20, 50)"
          schema:
            type: integer
            format: int32
            enum: [5, 20, 50]
            example: 20
        - name: sort_by
          in: query
          required: false
          description: "Field to sort by"
          schema:
            type: string
        - name: sort_order
          in: query
          required: false
          description: "Sort order: 'asc' or 'desc'"
          schema:
            type: string
            enum: [asc, desc]
            example: "asc"
        - name: name_prefix
          in: query
          required: false
          description: "Name prefix to search (minimum 2 characters)"
          schema:
            type: string
            minLength: 2
        - name: names
          in: query
          required: false
          description: "List of names to include"
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: "Successful response"
components: {}